/*#region Color Variables*/

:root {
  --clr-green:#53C264;
  --clr-gold:#ECB046;
  --clr-blue:#00C8FF;
  --clr-purple1:#D795FA;
  --clr-purple2:#E6B6FF;

  --clr-light-text: #F7F7F7;
  --clr-title: #00C8FF;
  --clr-hover: #00C8FF;
  --clr-button: #F7F7F7;
  --clr-dark-boxes-bg: #1C1E23;
  --clr-dark-boxes-bg-hover: #2f3033;
}

/*#endregion*/



/*#region Etiquetas*/

body {
  background-color: #0B0A10;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  font-size: 1rem;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--clr-light-text);
  line-height: 1.5;
}

h1 {
  font-size: 5.3rem;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
  color: var(--clr-light-text);

  margin: 10px;
}

h2 {
  margin: 0px;
  padding: 0px;
  font-size: 2.3rem;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: var(--clr-title);
}

h3 {
  font-size: 2.4rem;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: var(--clr-light-text);

  margin: 10px;
}

h4 {
  font-size: 2.5rem;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
  color: var(--clr-light-text);

  margin: 15px;
}

h5 {
  font-size: 1rem;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--clr-light-text);

  margin: 10px;
}

/*#endregion*/



/*#region Clases principales*/


/*#region Main Grid*/

.grid-container {
  display: grid;

  max-width: 1200px;
  margin: 1rem;

  grid-auto-columns: 1fr;
  grid-gap: 1rem;
  
  grid-template-areas:

    "about    about     about     about     photo   photo   es        en"
    "about    about     about     about     photo   photo   projects  projects"
    "github   github    name      name      name    name    projects  projects"
    "art      art       name      name      name    name    itchio    itchio"
    "art      art       mail      mail      game    game    game      game"
    "skills   skills    skills    skills    game    game    game      game"
    "idk      idk       idk       idk       game    game    game      game"
    "idk      idk       idk       idk       game    game    game      game"
  ;
}

.grid-item {
  background-color: var(--clr-dark-boxes-bg);
  margin: 0;
  box-sizing: border-box;
  border-radius: 0.75rem;
  text-align: center;
  place-content: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.grid-item img {
  max-width: 100%;
  height: auto;
}

.section-title{
  margin: 3rem;
  text-align: center;
}

/*#endregion*/


/*#region Interactables OnHover*/

.interactable{
  overflow: hidden;
}

.interactable::before{
  position: absolute;
  align-self: center;
  content: '';
  /*width: 60%;*/
  width: 30%;
  height: 250%;
  /*background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(0, 200, 255, 0.9) 50%, rgba(255, 255, 255, 0));*/
  background: var(--clr-hover);

  transform: rotate(45deg);
  opacity: 0%;
}

.interactable:hover::before{
  opacity: 100%;
  animation: anim 4s linear infinite;
}

@keyframes anim{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}


.interactable::after{
  position: absolute;
  content: '';
  inset: 4px;
  border-radius: 0.75rem;
  pointer-events: none;
}

.interactable:hover::after {
  background-color: var(--clr-dark-boxes-bg-hover);
  pointer-events: none;
}

/*#endregion*/


/*#region Buttons About*/

.container-buttons-about{
  align-self: flex-end;
  display: flex;

}

.button-about{
  display: flex;
  align-items: center;
  margin-left: 2rem;
  margin-top: 0.5rem;
  padding: 0.6rem 1rem 0.6rem 1rem;
  border-radius: 0.4rem;
  background-color: var(--clr-button);
  text-decoration: none;
  
}

.button-about p{
  margin: 0;
  color: var(--clr-dark-boxes-bg);
  font-size: 1.2rem;
  font-weight: 700;
  font-style: normal;
}

.button-about:hover img{
  width: 25px;
  margin-left: 10px;
}

.button-about img{
  width: 0px;
  margin-left: 0px;
  transition: width 0.2s ease-out 0s, margin-left 0.2s ease-out 0s;
}

/*#endregion*/


/*#region Buttons Mail*/

.container-buttons-mail{
  align-self: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  height: 45px;
}

.button-mail{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem;
  width: 40px;
  height: 40px;
  border-radius: 0.6rem;
  background-color: var(--clr-button);
  transition: width 0.2s ease-out 0s;
}

.button-mail img{
  width: 35px;
  height: 35px;
  transition: width 0.2s ease-out 0s;
}

.button-mail a{
  display: flex;
  align-items: center;
  width: 35px;
  height: 35px;
  transition: width 0.2s ease-out 0s;
  text-decoration: none;
}

.button-mail p{
  color: var(--clr-dark-boxes-bg);
  font-size: 1rem;
  font-weight: 800;
  font-style: normal;

  width: 0px;
  overflow: hidden; 
  white-space: nowrap;

  transition: width 0.2s ease-out 0s;
}

.button-mail:hover{
  width: 90px;
}

.button-mail:hover img{
  width: 0px;
}

.button-mail:hover a{
  cursor: pointer;
  width: 90px;
}

.button-mail:hover p{
  width: 90px;
}


/* Para que haya feedback al pulsar el botón */
.button-mail:active{
  border: 2px solid var(--clr-hover);
}
/*
.button-mail:active p{
  color: var(--clr-light-text);
}
*/

/*#endregion*/


/*#region Projects Section*/


/*#region Projects Layout*/

.game-projects-grid{
  display: grid;

  max-width: 1200px;
  margin: 1rem;

  grid-auto-columns: 1fr;
  grid-gap: 1rem;
  
  grid-template-areas:
    "project1    project2"
    "project3    project4"
  ;
}

.projects-item{
  background-color: var(--clr-dark-boxes-bg);
  margin: 0;
  box-sizing: border-box;
  border-radius: 0.75rem;
  text-align: center;
  place-content: center;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: relative;
  aspect-ratio: 2/1;
}

.project-image{
  aspect-ratio: 1/1;
  width: 296px;
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.project-info{
  aspect-ratio: 1/1;
  width: 296px;

  padding: 25px;
  text-align: left;
  place-content: left;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  display: flex;
  flex-direction: column;
}

.project-info h2{
  font-size: 1.8rem
}

.project-info p{
  font-size: 0.9rem;
  margin: 0;
}

.project-description{
  height: 100px;
}

.project-tools{
  margin: 18px  0px 20px 0px;
}

.project-tools img{
  height: 40px;
  margin-right: 10px;
}


.project1{
  grid-area: project1;
}

.project2{
  grid-area: project2;
}

.project3{
  grid-area: project3;
}

.project4{
  grid-area: project4;
}

/*#endregion*/


/*#region Projects Button Play*/

.container-button-play{
  display: flex;
  justify-content: center;
  place-items: center;
  align-self: center;
  width: 300px;
  height: 40px;
}

.button-play{
  display: flex;
  justify-content: center;
  place-items: center;
  align-self: center;
  width: 120px;
  height: 30px;
  border-radius: 2rem;
  
  background:var(--clr-button);
  border-width: 0px;
  border-style: solid;
  border-color: tomato;
  
  transition: border-width 0.1s ease-out 0s, width 0.1s ease-out 0s;
}

.button-play:hover{
  border-width: 5px;
  width: 140px;
  background: var(--clr-light-text);
  animation: anim-play 2s linear infinite;
}

@keyframes anim-play {
  50%{
    filter: hue-rotate(350deg);
  }
}

.button-play:hover img{
  width: 20px;
  margin-left: 5px;
}

.button-play img{
  width: 0px;
  margin-left: 0px;
  transition: width 0.2s ease-out 0s, margin-left 0.2s ease-out 0s;
}

.button-play p{
  color: var(--clr-dark-boxes-bg);
  font-size: 1rem;
  font-weight: 700;
  font-style: normal;
}

.button-play a{
  
  text-decoration: none;
}

/*#endregion*/


/*#endregion*/


/*#region Art Section*/

.art-grid{
  display: grid;

  max-width: 1200px;
  margin: 1rem;

  grid-auto-columns: 1fr;
  grid-gap: 1rem;
  
  grid-template-areas:
    "art1    art2"
    "art3    art4"
  ;

}

.art-item{
  aspect-ratio: 16 / 9;
  background-color: var(--clr-dark-boxes-bg);
  border-radius: 0.75rem;

}

.art-item img{
  width: 100%;
  height: 100%;
  border-radius: 0.75rem;
}

.art-item video{
  width: 100%;
  height: 100%;
  border-radius: 0.75rem;
}

.art1{
  grid-area: art1;
}

.art2{
  grid-area: art2;
}

.art3{
  grid-area: art3;
}

.art4{
  grid-area: art4;
}


/*#endregion*/


/*#endregion*/



/*#region Clases Bento Boxes*/


/*#region About*/

.about {
  grid-area: about;
  aspect-ratio: 2 / 1;

  padding: 35px;
  text-align: left;
  place-content: left;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

/*#endregion*/


/*#region Photo*/

.photo {
  grid-area: photo;

  background-image: url("../src/img/foto_perfil.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*#endregion*/


/*#region Spanish*/

.es {
  grid-area: es;
  aspect-ratio: 1 / 1;
  background-image: url("../src/img/flag_spain.png");
  background-position: center;
  background-size: 100%;
  opacity: 70%;
  transition: background-size 0.4s ease-out -0.1s, opacity 0.2s ease-out 0s;
}

.es a{
  width: 100%;
  height: 100%;
  align-content: center;
}

.es:hover{
  cursor: pointer;
  border: solid 3px var(--clr-hover);
  box-shadow: 0px 0px 10px 1px var(--clr-hover);
  background-size: 120%;
  opacity: 100%;
}

/*#endregion*/


/*#region English*/

.en {
  grid-area: en;
  aspect-ratio: 1 / 1;
  background-image: url("../src/img/flag_uk.svg");
  background-position: center;
  background-size: 100%;
  opacity: 70%;
  transition: background-size 0.4s ease-out -0.1s, opacity 0.2s ease-out 0s;
}

.en a{
  width: 100%;
  height: 100%;
  align-content: center;
}

.en:hover{
  cursor: pointer;
  border: solid 3px var(--clr-hover);
  box-shadow: 0px 0px 10px 1px var(--clr-hover);
  background-size: 120%;
  opacity: 100%;
}

/*#endregion*/


/*#region Projects*/

.projects {
  grid-area: projects;
}

.projects a{
  z-index: 10;
  width: 100%;
  height: 100%;
  align-content: center;
  text-decoration: none;
}

.projects:hover{
  background-color: var(--clr-dark-boxes-bg-hover);
  box-shadow: 0px 0px 10px 1px var(--clr-hover);
}

/*#endregion*/


/*#region Github*/

.github {
  grid-area: github;
  aspect-ratio: 2 / 1;
}

.github a{
  z-index: 10;
  width: 100%;
  height: 100%;
  align-content: center;
  text-decoration: none;
}

.github img {
  max-width: 35%;
  height: auto;
}

.github:hover{
  background-color: var(--clr-dark-boxes-bg-hover);

  box-shadow: 0px 0px 10px 1px var(--clr-hover);
}

/*#endregion*/


/*#region Name*/

.name {
  grid-area: name;
}

.name h2 {
  font-size: 1.5rem;
  margin: 10px;
}

/*#endregion*/


/*#region Art*/

.art {
  grid-area: art;
}

.art a{
  z-index: 10;
  width: 100%;
  height: 100%;
  align-content: center;
  text-decoration: none;
}

.art:hover{
  background-color: var(--clr-dark-boxes-bg-hover);

  box-shadow: 0px 0px 10px 1px var(--clr-hover)
}

.art h3 {
  font-size: 3rem;
}

/*#endregion*/


/*#region Itchio*/

.itchio {
  grid-area: itchio;
  aspect-ratio: 2 / 1;

  background-color: #FA5C5C;
}

.itchio a{
  z-index: 10;
  width: 100%;
  height: 100%;
  align-content: center;
  text-decoration: none;
}

.itchio img {
  max-width: 35%;
  height: auto;
}

.itchio:hover{
  cursor: pointer;
  background-color: #FA5C5C;
  box-shadow: 0px 0px 10px 1px var(--clr-hover)

}

.itchio:hover::after {
  background-color: #FA5C5C;
}


/*#endregion*/


/*#region Mail*/

.mail {
  grid-area: mail;
  aspect-ratio: 2 / 1;
}

.mail-text{
  font-size: 1.2rem;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
  margin: 1rem;
  margin-top: 0.5rem;
}

/*#endregion*/


/*#region Game*/

.game {
  grid-area: game;

  padding-top: 50px;
  text-align: center;
  place-content: center;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

/*#endregion*/


/*#region Skills*/

.skills {
  grid-area: skills;
  aspect-ratio: 4 / 1;
}

.skills-wrapper {
  width: 90%;
  max-width: 1536px;
  margin-inline: auto;
  position: relative;
  height: 70px;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1) 20%,
      rgba(0, 0, 0, 1) 80%,
      rgba(0, 0, 0, 0));
}

@keyframes scrollRight {
  to {
    right: -200px;
  }
}

.skill {
  width: 70px;
  height: 70px;
  position: absolute;
  right: max(calc(100px * 6), 100%);
  animation-name: scrollRight;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.skill1 {
  animation-delay: calc(20s / 6 * (6 - 1) * -1);
}

.skill2 {
  animation-delay: calc(20s / 6 * (6 - 2) * -1);
}

.skill3 {
  animation-delay: calc(20s / 6 * (6 - 3) * -1);
}

.skill4 {
  animation-delay: calc(20s / 6 * (6 - 4) * -1);
}

.skill5 {
  animation-delay: calc(20s / 6 * (6 - 5) * -1);
}

.skill6 {
  animation-delay: calc(20s / 6 * (6 - 6) * -1);
}

/*#endregion*/


/*#region Idk*/

.idk {
  grid-area: idk;
  aspect-ratio: 2 / 1;
}

/*#endregion*/


/*#endregion*/



/*#region Sistema Responsive*/

@media (max-width: 1000px) {
  .grid-container {
    grid-template-areas:
      "name   name    name    photo   photo     es"
      "name   name    name    photo   photo     en"
      "about  about   about   about   mail      mail"
      "about  about   about   about   projects  projects"
      "art    art     itchio  github  projects  projects"
      "art    art     skills  skills  skills    skills"
      "game   game    game    game    game      game"
      "game   game    game    game    game      game"
      "game   game    game    game    game      game"
      "game   game    game    game    game      game"
      "idk    idk     idk     idk     idk       idk"
    ;
  }
}

@media (max-width: 800px) {
  .grid-container {
    grid-template-areas:
      "name   name    name    photo   photo     es"
      "name   name    name    photo   photo     en"
      "about  about   about   about   mail      mail"
      "about  about   about   about   projects  projects"
      "art    art     itchio  github  projects  projects"
      "art    art     skills  skills  skills    skills"
      "game   game    game    game    game      game"
      "game   game    game    game    game      game"
      "game   game    game    game    game      game"
      "game   game    game    game    game      game"
      "idk    idk     idk     idk     idk       idk"
    ;
  }
}

@media (max-width: 600px) {
  .grid-container {
    grid-template-areas:
      "name   name    name    photo   photo     es"
      "name   name    name    photo   photo     en"
      "about  about   about   about   mail      mail"
      "about  about   about   about   projects  projects"
      "art    art     itchio  github  projects  projects"
      "art    art     skills  skills  skills    skills"
      "game   game    game    game    game      game"
      "game   game    game    game    game      game"
      "game   game    game    game    game      game"
      "game   game    game    game    game      game"
      "idk    idk     idk     idk     idk       idk"
    ;
  }
}

@media (max-width: 450px) {
  .grid-container {
    grid-template-areas:
      "name   name    name    photo   photo     es"
      "name   name    name    photo   photo     en"
      "about  about   about   about   mail      mail"
      "about  about   about   about   projects  projects"
      "art    art     itchio  github  projects  projects"
      "art    art     skills  skills  skills    skills"
      "game   game    game    game    game      game"
      "game   game    game    game    game      game"
      "game   game    game    game    game      game"
      "game   game    game    game    game      game"
      "idk    idk     idk     idk     idk       idk"
    ;
  }
}

/*#endregion*/



/*#region Clases fuentes*/

/*Clases para las fuentes del proyecto*/

.josefin-sans-semibold-italic {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
}

.josefin-sans-semibold {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.josefin-sans-regular {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}

.nunito-regular {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/*#endregion*/