/*#region Color Variables*/

:root {
  --clr-green:#53C264;
  --clr-gold:#ECB046;
  --clr-blue:#00C8FF;
  --clr-purple1:#D795FA;
  --clr-purple2:#E6B6FF;

  --clr-light-text: #F7F7F7;
  --clr-title: #00C8FF;
  --clr-hover: #00C8FF;
  --clr-button: #F7F7F7;
  --clr-dark-boxes-bg: #1C1E23;
  --clr-dark-boxes-bg-hover: #2f3033;
}

/*#endregion*/


/*#region Variables Responsive*/

:root{

  --fontsize-name-title: 85px;
  --fontsize-name-subtitle: 24px;
  --name-subtitle-width: 400px;
  --margin-name-title: 10px;
  --margin-name-subtitle: 10px;

  --fontsize-boxes-title: 35px;

  --fontsize-about-p: 16px;
  --fontsize-button-about: 20px;
  --padding-about: 35px;
  --padding-width-button-about: 16px;
  --padding-height-button-about: 10px;
  --margin-top-button-about: 8px;

  --fontsize--mail: 20px;
  --margin-mail-text: 16px;
  --margin-top-mail-text: 8px;

  --width-container-buttons-mail: 200px;
  --height-container-buttons-mail: 45px;
  --size-button-mail: 40px;
  --size-img-button-mail: 35px;
  --fontsize-button-mail: 16px;
  --width-button-mail-onhover: 90px;

  --padding-project-info: 25px;
  --fontsize-project-info-title: 27px;
  --fontsize-project-info-p: 14px;
  --margin-top-bot-project-tools: 18px;
  --size-project-tools-img: 40px;

  --width-button-play: 130px;
  --width-button-play-onhover: 150px;
  --height-button-play: 30px;
  --borderwidth-button-play-onhover: 5px;
  --fontsize-button-play: 16px;
}

/*#endregion*/


/*#region Etiquetas*/

body {
  background-color: #0B0A10;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  font-size: var(--fontsize-about-p);
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: var(--clr-light-text);
  line-height: 1.5;
}

h1 {
  font-size: var(--fontsize-name-title);
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
  color: var(--clr-light-text);

  margin: var(--margin-name-title);
}

h2 {
  margin: 0px;
  padding: 0px;
  font-size: var(--fontsize-boxes-title);
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: var(--clr-title);
}

h3 {
  font-size: 2.4rem;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: var(--clr-light-text);

  margin: 10px;
}

h4 {
  font-size: 2.5rem;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
  color: var(--clr-title);

  margin: 15px;
}

h5 {
  font-size: 1rem;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--clr-light-text);

  margin: 10px;
}

/*#endregion*/



/*#region Clases principales*/


/*#region Main Grid*/

.grid-container {
  display: grid;

  max-width: 1200px;
  margin: 1rem;

  grid-auto-columns: 1fr;
  grid-gap: 1rem;
  
  grid-template-areas:

    "about    about     about     about     photo     photo     es        en"
    "about    about     about     about     photo     photo     projects  projects"
    "itchio   itchio    name      name      name      name      projects  projects"
    "art      art       name      name      name      name      github    github"
    "art      art       mail      mail      skills    skills    skills    skills"
    "game     game      game      game      game      game      game      game"
    "game     game      game      game      game      game      game      game"
    "empty    empty     empty     empty     empty     empty     empty     empty"
  ;
}

.grid-item {
  background-color: var(--clr-dark-boxes-bg);
  margin: 0;
  box-sizing: border-box;
  border-radius: 0.75rem;
  text-align: center;
  place-content: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.grid-item img {
  max-width: 100%;
  height: auto;
}

.section-title{
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
}

/*#endregion*/


/*#region Interactables OnHover*/

.interactable{
  overflow: hidden;
}

.interactable::before{
  position: absolute;
  align-self: center;
  content: '';
  /*width: 60%;*/
  width: 30%;
  height: 250%;
  /*background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(0, 200, 255, 0.9) 50%, rgba(255, 255, 255, 0));*/
  background: var(--clr-hover);

  transform: rotate(45deg);
  opacity: 0%;
}

.interactable:hover::before{
  opacity: 100%;
  animation: anim 4s linear infinite;
}

@keyframes anim{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}


.interactable::after{
  position: absolute;
  content: '';
  inset: 4px;
  border-radius: 0.75rem;
  pointer-events: none;
}

.interactable:hover::after {
  background-color: var(--clr-dark-boxes-bg-hover);
  pointer-events: none;
}

/*#endregion*/


/*#region Buttons About*/

.container-buttons-about{
  display: flex;

}

.button-about{
  display: flex;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: var(--margin-top-button-about);
  padding: var(--padding-height-button-about) var(--padding-width-button-about) var(--padding-height-button-about) var(--padding-width-button-about);
  border-radius: 0.4rem;
  background-color: var(--clr-button);
  text-decoration: none;
  
}

.button-about p{
  margin: 0;
  color: var(--clr-dark-boxes-bg);
  font-size: var(--fontsize-button-about);
  font-weight: 700;
  font-style: normal;
  user-select: none;
}

.button-about:hover img{
  width: 25px;
  margin-left: 10px;
}

.button-about img{
  width: 0px;
  margin-left: 0px;
  transition: width 0.2s ease-out 0s, margin-left 0.2s ease-out 0s;
}

/*#endregion*/


/*#region Buttons Mail*/

.container-buttons-mail{
  align-self: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: var(--width-container-buttons-mail);
  height: var(--height-container-buttons-mail);
}

.button-mail{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem;
  width: var(--size-button-mail);
  height: var(--size-button-mail);
  border-radius: 0.6rem;
  background-color: var(--clr-button);
  transition: width 0.2s ease-out 0s;
}

.button-mail img{
  width: var(--size-img-button-mail);
  height: var(--size-img-button-mail);
  transition: width 0.2s ease-out 0s;
}

.button-mail a{
  display: flex;
  align-items: center;
  width: var(--size-img-button-mail);
  height: var(--size-img-button-mail);
  transition: width 0.2s ease-out 0s;
  text-decoration: none;
}

.button-mail p{
  color: var(--clr-dark-boxes-bg);
  font-size: var(--fontsize-button-mail);
  font-weight: 800;
  font-style: normal;

  width: 0px;
  overflow: hidden; 
  white-space: nowrap;
  user-select: none;
  transition: width 0.2s ease-out 0s;
}

.button-mail:hover{
  width: var(--width-button-mail-onhover);
}

.button-mail:hover img{
  width: 0px;
}

.button-mail:hover a{
  cursor: pointer;
  width: var(--width-button-mail-onhover);
}

.button-mail:hover p{
  width: var(--width-button-mail-onhover);
}


/* Para que haya feedback al pulsar el botón */
.button-mail:active{
  box-shadow: inset 4px 4px 12px #666666, inset -4px -4px 12px #ffffff;
}
/*
.button-mail:active p{
  color: var(--clr-light-text);
}
*/

/*#endregion*/


/*#region Projects Section*/


/*#region Projects Layout*/

.game-projects-grid{
  display: grid;

  max-width: 1200px;
  margin: 1rem;

  grid-auto-columns: 1fr;
  grid-gap: 1rem;
  
  grid-template-areas:
    "project1    project2"
    "project3    project4"
  ;
}

.projects-item{
  background-color: var(--clr-dark-boxes-bg);
  margin: 0;
  box-sizing: border-box;
  border-radius: 0.75rem;
  text-align: center;
  place-content: center;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: relative;
  aspect-ratio: 2/1;
}

.project-image{
  aspect-ratio: 1/1;
  width: 296px;
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.project-info{
  aspect-ratio: 1/1;
  width: 296px;

  padding: var(--padding-project-info);
  text-align: left;
  place-content: left;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  display: flex;
  flex-direction: column;
}

.project-info h2{
  font-size:var(--fontsize-project-info-title);
}

.project-info p{
  font-size: var(--fontsize-project-info-p);
  margin: 0;
}

.project-description{
  height: 100px;
}

.project-tools{
  margin: var(--margin-top-bot-project-tools) 0px;
}

.project-tools img{
  height: var(--size-project-tools-img);
  margin-right: 10px;
}


.project1{
  grid-area: project1;
}

.project2{
  grid-area: project2;
}

.project3{
  grid-area: project3;
}

.project4{
  grid-area: project4;
}

/*#endregion*/


/*#region Projects Button Play*/

.container-button-play{
  display: flex;
  justify-content: center;
  place-items: center;
  align-self: center;
  width: var(--width-button-play-onhover);
  height: var(--height-button-play);
}

.button-play{
  display: flex;
  justify-content: center;
  place-items: center;
  align-self: center;
  width: var(--width-button-play);
  height: var(--height-button-play);
  border-radius: 2rem;
  
  background:var(--clr-button);
  border-width: 0px;
  border-style: solid;
  border-color: tomato;
  
  transition: border-width 0.1s ease-out 0s, width 0.1s ease-out 0s;
}

.button-play:hover{
  border-width: var(--borderwidth-button-play-onhover);
  width: var(--width-button-play-onhover);
  animation: anim-play 2s linear infinite;
}

@keyframes anim-play {
  50%{
    filter: hue-rotate(350deg);
  }
}

.button-play:hover img{
  width: 20px;
  margin-left: 5px;
}

.button-play img{
  width: 0px;
  margin-left: 0px;
  transition: width 0.2s ease-out 0s, margin-left 0.2s ease-out 0s;
}

.button-play p{
  color: var(--clr-dark-boxes-bg);
  font-size: var(--fontsize-button-play);
  font-weight: 700;
  font-style: normal;
  user-select: none;
}

.button-play a{
  
  text-decoration: none;
}

/*#endregion*/


/*#endregion*/


/*#region Art Section*/

.art-grid{
  display: grid;

  max-width: 1200px;
  margin: 1rem;

  grid-auto-columns: 1fr;
  grid-gap: 1rem;
  
  grid-template-areas:
    "art1    art2"
    "art3    art4"
  ;

}

.art-item{
  aspect-ratio: 16 / 9;
  background-color: var(--clr-dark-boxes-bg);
  border-radius: 0.75rem;

}

.art-item img{
  width: 100%;
  height: 100%;
  border-radius: 0.75rem;
}

.art-item video{
  width: 100%;
  height: 100%;
  border-radius: 0.75rem;
}

.art1{
  grid-area: art1;
}

.art2{
  grid-area: art2;
}

.art3{
  grid-area: art3;
}

.art4{
  grid-area: art4;
}


/*#endregion*/


/*#endregion*/



/*#region Clases Bento Boxes*/


/*#region About*/

.about {
  grid-area: about;
  aspect-ratio: 2 / 1;
  padding: var(--padding-about);
  text-align: left;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.about h2{
  align-self: center;
}

/*#endregion*/


/*#region Photo*/

.photo {
  grid-area: photo;
  
  background-image: url("../src/img/foto_perfil.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*#endregion*/


/*#region Spanish*/

.es {
  grid-area: es;
  aspect-ratio: 1 / 1;
  background-image: url("../src/img/flag_spain.png");
  background-position: center;
  background-size: 100%;
  opacity: 70%;
  transition: background-size 0.4s ease-out -0.1s, opacity 0.2s ease-out 0s;
}

.es a{
  width: 100%;
  height: 100%;
  align-content: center;
}

.es:hover{
  cursor: pointer;
  border: solid 3px var(--clr-hover);
  box-shadow: 0px 0px 10px 1px var(--clr-hover);
  background-size: 120%;
  opacity: 100%;
}

/*#endregion*/


/*#region English*/

.en {
  grid-area: en;
  aspect-ratio: 1 / 1;
  background-image: url("../src/img/flag_uk.svg");
  background-position: center;
  background-size: 100%;
  opacity: 70%;
  transition: background-size 0.4s ease-out -0.1s, opacity 0.2s ease-out 0s;
}

.en a{
  width: 100%;
  height: 100%;
  align-content: center;
}

.en:hover{
  cursor: pointer;
  border: solid 3px var(--clr-hover);
  box-shadow: 0px 0px 10px 1px var(--clr-hover);
  background-size: 120%;
  opacity: 100%;
}

/*#endregion*/


/*#region Projects*/

.projects {
  grid-area: projects;

  background-image: url("../src/img/Imagen_Games.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  transition: background-size 0.4s ease-out -0.1s, opacity 0.2s ease-out 0s;
}

.projects a{
  width: 100%;
  height: 100%;
  align-content: center;
}

.projects:hover{
  cursor: pointer;
  border: solid 3px var(--clr-hover);
  box-shadow: 0px 0px 10px 1px var(--clr-hover);
  background-size: 120% 120%;
}

/*#endregion*/


/*#region Github*/

.github {
  grid-area: github;
  aspect-ratio: 2 / 1;
}

.github a{
  z-index: 10;
  width: 100%;
  height: 100%;
  align-content: center;
  text-decoration: none;
}

.github img {
  max-width: 35%;
  height: auto;
}

.github:hover{
  background-color: var(--clr-dark-boxes-bg-hover);

  box-shadow: 0px 0px 10px 1px var(--clr-hover);
}

/*#endregion*/


/*#region Name*/

.name {
  grid-area: name;
}

.name h2 {
  font-size: var(--fontsize-name-subtitle);
  margin: var(--margin-name-subtitle);
  width: var(--name-subtitle-width);
  line-height: 1.5;
  align-self: center;
}

/*#endregion*/


/*#region Art*/

.art {
  grid-area: art;

  background-image: url("../src/img/Imagen_Art.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  transition: background-size 0.4s ease-out 0s, background-position 0.2s ease-out 0s;
}

.art a{
  width: 100%;
  height: 100%;
  align-content: center;
}

.art:hover{
  cursor: pointer;
  border: solid 3px var(--clr-hover);
  box-shadow: 0px 0px 10px 1px var(--clr-hover);
  background-size: 120% 120%;
  background-position: 50% 80%;
}

/*#endregion*/


/*#region Itchio*/

.itchio {
  grid-area: itchio;
  aspect-ratio: 2 / 1;

}

.itchio a{
  z-index: 10;
  width: 100%;
  height: 100%;
  align-content: center;
  text-decoration: none;
}

.itchio img {
  max-width: 35%;
  height: auto;
}

.itchio:hover{
  cursor: pointer;
  background-color: var(--clr-dark-boxes-bg-hover);
  box-shadow: 0px 0px 10px 1px var(--clr-hover)

}

.itchio:hover::after {
  background-color: var(--clr-dark-boxes-bg-hover);
}


/*#endregion*/


/*#region Mail*/

.mail {
  grid-area: mail;
  aspect-ratio: 2 / 1;
}

.mail-text{
  font-size: var(--fontsize--mail);
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
  margin: var(--margin-mail-text);
  margin-top: var(--margin-top-mail-text);
}

/*#endregion*/


/*#region Game*/

.game {
  grid-area: game;
  aspect-ratio: 12 / 8;
  padding-top: 50px;
  text-align: center;
  place-content: center;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

@media (max-width: 2000px){
  .loader {
    margin-top: 20%;
    width: 85px;
    height: 50px;
    --g1:conic-gradient(from  90deg at left   3px top   3px,#0000 90deg,#fff 0);
    --g2:conic-gradient(from -90deg at bottom 3px right 3px,#0000 90deg,#fff 0);
    background:var(--g1),var(--g1),var(--g1), var(--g2),var(--g2),var(--g2);
    background-position: left,center,right;
    background-repeat: no-repeat;
    animation: l9 1s infinite;
  }

  .game p{
    font-size: 30px;
  }

  @keyframes l9 {
    0%   {background-size:25px 50% ,25px 50% ,25px 50%}
    25%  {background-size:25px 100%,25px 50% ,25px 50%}
    50%  {background-size:25px 50% ,25px 100%,25px 50%}
    75%  {background-size:25px 50% ,25px 50% ,25px 100%}
    100% {background-size:25px 50% ,25px 50% ,25px 50%}
  }
}

@media (max-width: 950px){
  .loader {
    margin-top: 20%;
    width: 68px;
    height: 40px;
    --g1:conic-gradient(from  90deg at left   3px top   3px,#0000 90deg,#fff 0);
    --g2:conic-gradient(from -90deg at bottom 3px right 3px,#0000 90deg,#fff 0);
    background:var(--g1),var(--g1),var(--g1), var(--g2),var(--g2),var(--g2);
    background-position: left,center,right;
    background-repeat: no-repeat;
    animation: l9 1s infinite;
  }

  .game p{
    font-size: 25px;
  }

  @keyframes l9 {
    0%   {background-size:20px 50% ,20px 50% ,20px 50%}
    25%  {background-size:20px 100%,20px 50% ,20px 50%}
    50%  {background-size:20px 50% ,20px 100%,20px 50%}
    75%  {background-size:20px 50% ,20px 50% ,20px 100%}
    100% {background-size:20px 50% ,20px 50% ,20px 50%}
  }
}

@media (max-width: 700px){
  .loader {
    margin-top: 10%;
    width: 51px;
    height: 30px;
    --g1:conic-gradient(from  90deg at left   3px top   3px,#0000 90deg,#fff 0);
    --g2:conic-gradient(from -90deg at bottom 3px right 3px,#0000 90deg,#fff 0);
    background:var(--g1),var(--g1),var(--g1), var(--g2),var(--g2),var(--g2);
    background-position: left,center,right;
    background-repeat: no-repeat;
    animation: l9 1s infinite;
  }

  .game p{
    font-size: 20px;
  }

  @keyframes l9 {
    0%   {background-size:15px 50% ,15px 50% ,15px 50%}
    25%  {background-size:15px 100%,15px 50% ,15px 50%}
    50%  {background-size:15px 50% ,15px 100%,15px 50%}
    75%  {background-size:15px 50% ,15px 50% ,15px 100%}
    100% {background-size:15px 50% ,15px 50% ,15px 50%}
  }
}

/*#endregion*/


/*#region Skills*/

.skills {
  grid-area: skills;
  aspect-ratio: 4 / 1;
}

.skills-wrapper {
  width: 90%;
  max-width: 1536px;
  margin-inline: auto;
  position: relative;
  height: 50%;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1) 20%,
      rgba(0, 0, 0, 1) 80%,
      rgba(0, 0, 0, 0));
}

@keyframes scrollRight {
  to {
    right: -20% ;
  }
}

.skill {
  aspect-ratio: 1 / 1;
  height: 100%;
  position: absolute;
  right: max(calc(20% * 6), 100%);
  animation-name: scrollRight;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.skill1 {
  animation-delay: calc(20s / 6 * (6 - 1) * -1);
}

.skill2 {
  animation-delay: calc(20s / 6 * (6 - 2) * -1);
}

.skill3 {
  animation-delay: calc(20s / 6 * (6 - 3) * -1);
}

.skill4 {
  animation-delay: calc(20s / 6 * (6 - 4) * -1);
}

.skill5 {
  animation-delay: calc(20s / 6 * (6 - 5) * -1);
}

.skill6 {
  animation-delay: calc(20s / 6 * (6 - 6) * -1);
}

/*#endregion*/


.empty1{
  grid-area: empty1;
  background-color: #0B0A10;
  display: none;
  visibility: hidden;
}
.empty2{
  grid-area: empty2;
  background-color: #0B0A10;
  display: none;
  visibility: hidden;
}


/*#endregion*/



/*#region Sistema Responsive*/


/*#region General Layout*/

@media (max-width: 950px) {
  .grid-container {
    grid-template-areas:
      "name   name    name    photo   photo     es"
      "name   name    name    photo   photo     en"
      "about  about   about   about   mail      mail"
      "about  about   about   about   projects  projects"
      "art    art     itchio  github  projects  projects"
      "art    art     skills  skills  skills    skills"
      "game   game    game    game    game      game"
      "game   game    game    game    game      game"
      "game   game    game    game    game      game"
      "game   game    game    game    game      game"
    ;
  }

  .github{
    aspect-ratio: 1 / 1;
  }

  .github img{
    max-width: 60%;
  }

  .itchio{
    aspect-ratio: 1 / 1;
  }

  .itchio img{
    max-width: 60%;
  }


  .game-projects-grid{
    grid-template-areas:
    "project1"
    "project2"
    "project3"
    "project4"
    ;

    max-width: 600px;
  }

  .art-grid{
    grid-template-areas:
    "art1"
    "art2"
    "art3"
    "art4"
    ;

    max-width: 600px;
  }
}

@media (max-width: 700px) {
  .grid-container {
    grid-template-areas:
      "name       name        photo     photo"
      "name       name        photo     photo"
      "about      about       about     es"
      "about      about       about     en"
      "projects   projects    art       art"
      "projects   projects    art       art"
      "github     mail        mail     itchio"
      "skills     skills      skills    skills"
      "game       game        game      game"
    ;
  }

  .about{
    aspect-ratio: 3 / 2 ;
  }

  .name{
    aspect-ratio: 1 / 1;
  }
  .projects{
    aspect-ratio: 1 / 1;
  }

  .art{
    aspect-ratio: 1 / 1;
  }

  .mail{
    aspect-ratio: unset;
  }
}

@media (max-width: 450px) {
  .grid-container {
    grid-template-areas:
    "empty1     empty1      empty1    es        en        empty2    empty2    empty2"
    "name       name        name      name      photo     photo     photo     photo"
    "name       name        name      name      photo     photo     photo     photo"
    "name       name        name      name      photo     photo     photo     photo"
    "name       name        name      name      photo     photo     photo     photo"
    "about      about       about     about     about     about     about     about"
    "about      about       about     about     about     about     about     about"
    "about      about       about     about     about     about     about     about"
    "about      about       about     about     about     about     about     about"
    "projects   projects    projects  projects  art       art       art       art"
    "projects   projects    projects  projects  art       art       art       art"
    "projects   projects    projects  projects  art       art       art       art"
    "projects   projects    projects  projects  art       art       art       art"
    "github     github      mail      mail      mail      mail      itchio    itchio"
    "github     github      mail      mail      mail      mail      itchio    itchio"
    "skills     skills      skills    skills    skills    skills    skills    skills"
    "skills     skills      skills    skills    skills    skills    skills    skills"
    ;

    grid-gap: 0.5rem;
  }

  .about{
    aspect-ratio: 2 / 1;
  }

  .game{
    display: none;
    visibility: hidden;
  }

  .empty1{
    grid-area: empty1;
    aspect-ratio: 3 / 1;
    display: flex;
    visibility: visible;
  }
  .empty2{
    grid-area: empty2;
    aspect-ratio: 3 / 1;
    display: flex;
    visibility: visible;
  }

  .button-mail:hover{
    width: var(--size-button-mail);
  }
  
  .button-mail:hover img{
    width: var(--size-img-button-mail);
  }
  
  .button-mail:hover a{
    cursor: pointer;
    width: var(--size-img-button-mail);
  }
  
  .button-mail:hover p{
    width: 0;
  }


  .button-play:hover{
    border-width: 0px;
    width: var(--width-button-play);
    height: var(--height-button-play);
  }
  
  .button-play:hover img{
    width: 0px;
    margin-left: 0px;
  }
}

/*#endregion*/

/*#region Specific Variables*/

@media (max-width: 1200px){
  :root{
    --fontsize-name-title: 80px;
    --fontsize-name-subtitle: 23px;

    --fontsize-boxes-title: 32px;

    --fontsize-about-p: 15px;
    --fontsize-button-about: 18px;
    --padding-about: 30px;
    --padding-width-button-about: 15px;
    --padding-height-button-about: 8px;
    --margin-top-button-about: 4px;

    --fontsize--mail: 18px;
    --margin-mail-text: 14px;
    --margin-top-mail-text: 8px;
  
    --width-container-buttons-mail:190px;
    --height-container-buttons-mail: 43px;
    --size-button-mail: 38px;
    --size-img-button-mail: 33px;
    --fontsize-button-mail: 15px;
    --width-button-mail-onhover: 85px;

    --padding-project-info: 20px;
    --fontsize-project-info-title: 25px;
    --fontsize-project-info-p: 14px;
    --margin-top-bot-project-tools: 12px;
    --size-project-tools-img: 35px;
  }
}

@media (max-width: 1100px){
  :root{
    --fontsize-name-title:75px;
    --fontsize-name-subtitle: 22px;

    --fontsize-boxes-title: 30px;

    --fontsize-about-p: 14px;
    --fontsize-button-about: 16px;
    --padding-about: 25px;
    --padding-width-button-about: 10px;
    --padding-height-button-about: 6px;
    --margin-top-button-about: 0px;

    --fontsize--mail: 17px;
    --margin-mail-text: 10px;
    --margin-top-mail-text: 8px;
  
    --width-container-buttons-mail:175px;
    --height-container-buttons-mail: 40px;
    --size-button-mail: 35px;
    --size-img-button-mail: 30px;
    --fontsize-button-mail: 14px;
    --width-button-mail-onhover: 80px;

    --padding-project-info: 17px;
    --fontsize-project-info-title: 23px;
    --fontsize-project-info-p: 13px;
    --margin-top-bot-project-tools: 10px;
    --size-project-tools-img: 30px;

    --width-button-play: 120px;
    --width-button-play-onhover: 140px;
    --height-button-play: 29px;
    --borderwidth-button-play-onhover: 4px;
    --fontsize-button-play: 15px;
  }
}

@media (max-width: 1000px){
  :root{
    --fontsize-name-title: 70px;
    --fontsize-name-subtitle: 20px;

    --fontsize-boxes-title: 28px;

    --fontsize-about-p: 14px;
    --fontsize-button-about: 16px;
    --padding-about: 25px;
    --padding-width-button-about: 10px;
    --padding-height-button-about: 6px;
    --margin-top-button-about: 0px;

    --fontsize--mail: 16px;
    --margin-mail-text: 6px;
    --margin-top-mail-text: 8px;
  
    --width-container-buttons-mail:160px;
    --height-container-buttons-mail: 40px;
    --size-button-mail: 30px;
    --size-img-button-mail: 27px;
    --fontsize-button-mail: 13px;
    --width-button-mail-onhover: 75px;

    --padding-project-info: 15px;
    --fontsize-project-info-title: 22px;
    --fontsize-project-info-p: 13px;
    --margin-top-bot-project-tools: 8px;
    --size-project-tools-img: 25px;

    --width-button-play: 115px;
    --width-button-play-onhover: 140px;
    --height-button-play: 28px;
    --borderwidth-button-play-onhover: 4px;
    --fontsize-button-play: 15px;
  }
}

@media (max-width: 950px){  /*Cambio de layout*/
  :root{
    --fontsize-name-title: 70px;
    --fontsize-name-subtitle: 20px;
    --name-subtitle-width: 350px;

    --fontsize-boxes-title: 35px;

    --fontsize-about-p: 16px;
    --fontsize-button-about: 20px;
    --padding-about: 35px;
    --padding-width-button-about: 16px;
    --padding-height-button-about: 10px;
    --margin-top-button-about: 8px;

    --fontsize--mail: 19px;
    --margin-mail-text: 16px;
    --margin-top-mail-text: 8px;
  
    --width-container-buttons-mail: 200px;
    --height-container-buttons-mail: 45px;
    --size-button-mail: 40px;
    --size-img-button-mail: 35px;
    --fontsize-button-mail: 16px;
    --width-button-mail-onhover: 90px;

    --padding-project-info: 25px;
    --fontsize-project-info-title: 27px;
    --fontsize-project-info-p: 14px;
    --margin-top-bot-project-tools: 18px;
    --size-project-tools-img: 40px;

    --width-button-play: 130px;
    --width-button-play-onhover: 150px;
    --height-button-play: 30px;
    --borderwidth-button-play-onhover: 5px;
    --fontsize-button-play: 16px;
  }
}

@media (max-width: 900px){
  :root{
    --fontsize-name-title: 60px;
    --fontsize-name-subtitle: 18px;
    --name-subtitle-width: 300px;

    --fontsize-boxes-title: 32px;

    --fontsize-about-p: 15px;
    --fontsize-button-about: 18px;
    --padding-about: 30px;
    --padding-width-button-about: 14px;
    --padding-height-button-about: 8px;
    --margin-top-button-about: 4px;

    --fontsize--mail: 17px;
    --margin-mail-text: 10px;
    --margin-top-mail-text: 6px;
  
    --width-container-buttons-mail: 190px;
    --height-container-buttons-mail: 43px;
    --size-button-mail: 38px;
    --size-img-button-mail: 33px;
    --fontsize-button-mail: 15px;
    --width-button-mail-onhover: 85px;
  }
}

@media (max-width: 800px){
  :root{
    --fontsize-name-title: 55px;
    --fontsize-name-subtitle: 17px;
    --name-subtitle-width: 270px;

    --fontsize-boxes-title: 30px;

    --fontsize-about-p: 14px;
    --fontsize-button-about: 16px;
    --padding-about: 25px;
    --padding-width-button-about: 10px;
    --padding-height-button-about: 6px;
    --margin-top-button-about: 0px;

    --fontsize--mail: 16px;
    --margin-mail-text: 8px;
    --margin-top-mail-text: 6px;
  
    --width-container-buttons-mail: 175px;
    --height-container-buttons-mail: 43px;
    --size-button-mail: 35px;
    --size-img-button-mail: 30px;
    --fontsize-button-mail: 14px;
    --width-button-mail-onhover: 80px;
  }
}

@media (max-width: 750px){
  :root{
    --fontsize-name-title: 50px;
    --fontsize-name-subtitle: 16px;
    --name-subtitle-width: 250px;

    --fontsize-boxes-title: 28px;

    --fontsize-about-p: 14px;
    --fontsize-button-about: 16px;
    --padding-about: 22px;
    --padding-width-button-about: 10px;
    --padding-height-button-about: 6px;
    --margin-top-button-about: 0px;

    --fontsize--mail: 15px;
    --margin-mail-text: 4px;
    --margin-top-mail-text: 6px;
  
    --width-container-buttons-mail: 160px;
    --height-container-buttons-mail: 40px;
    --size-button-mail: 30px;
    --size-img-button-mail: 27px;
    --fontsize-button-mail: 13px;
    --width-button-mail-onhover: 75px;
  }
}

@media (max-width: 700px){  /*Cambio de layout*/
  :root{
    --fontsize-name-title: 70px;
    --fontsize-name-subtitle: 20px;
    --name-subtitle-width: 170px;
    --margin-name-title: 9px;
    --margin-name-subtitle: 9px;


    --fontsize-boxes-title: 33px;

    --fontsize-about-p: 16px;
    --fontsize-button-about: 20px;
    --padding-about: 30px;
    --padding-width-button-about: 14px;
    --padding-height-button-about: 8px;
    --margin-top-button-about: 8px;

    --fontsize--mail: 20px;
    --margin-mail-text: 16px;
    --margin-top-mail-text: 8px;
  
    --width-container-buttons-mail: 200px;
    --height-container-buttons-mail: 45px;
    --size-button-mail: 40px;
    --size-img-button-mail: 35px;
    --fontsize-button-mail: 16px;
    --width-button-mail-onhover: 90px;
  }
}

@media (max-width: 650px){
  :root{
    --fontsize-name-title: 60px;
    --fontsize-name-subtitle: 18px;
    --name-subtitle-width: 150px;
    --margin-name-title: 8px;
    --margin-name-subtitle: 8px;

    --fontsize-boxes-title: 30px;

    --fontsize-about-p: 15px;
    --fontsize-button-about: 18px;
    --padding-about: 28px;
    --padding-width-button-about: 12px;
    --padding-height-button-about: 7px;
    --margin-top-button-about: 6px;

    --fontsize--mail: 18px;
    --margin-mail-text: 14px;
    --margin-top-mail-text: 8px;
  
    --width-container-buttons-mail: 180px;
    --height-container-buttons-mail: 42px;
    --size-button-mail: 37px;
    --size-img-button-mail: 33px;
    --fontsize-button-mail: 15px;
    --width-button-mail-onhover: 85px;

    --padding-project-info: 22px;
    --fontsize-project-info-title: 26px;
    --fontsize-project-info-p: 14px;
    --margin-top-bot-project-tools: 15px;
    --size-project-tools-img: 35px;
  }
}

@media (max-width: 600px){
  :root{
    --fontsize-name-title: 57px;
    --fontsize-name-subtitle: 17px;
    --name-subtitle-width: 130px;
    --margin-name-title: 7px;
    --margin-name-subtitle: 7px;

    --fontsize-boxes-title: 28px;

    --fontsize-about-p: 14px;
    --fontsize-button-about: 16px;
    --padding-about: 24px;
    --padding-width-button-about: 10px;
    --padding-height-button-about: 6px;
    --margin-top-button-about: 4px;

    --fontsize--mail: 16px;
    --margin-mail-text: 10px;
    --margin-top-mail-text: 8px;
  
    --width-container-buttons-mail: 160px;
    --height-container-buttons-mail: 40px;
    --size-button-mail: 33px;
    --size-img-button-mail: 30px;
    --fontsize-button-mail: 14px;
    --width-button-mail-onhover: 80px;

    --padding-project-info: 20px;
    --fontsize-project-info-title: 24px;
    --fontsize-project-info-p: 14px;
    --margin-top-bot-project-tools: 10px;
    --size-project-tools-img: 30px;

    --width-button-play: 120px;
    --width-button-play-onhover: 140px;
    --height-button-play: 29px;
    --borderwidth-button-play-onhover: 4px;
    --fontsize-button-play: 15px;
  }
}

@media (max-width: 550px){
  :root{
    --fontsize-name-title: 53px;
    --fontsize-name-subtitle: 15px;
    --name-subtitle-width: 120px;
    --margin-name-title: 6px;
    --margin-name-subtitle: 6px;

    --fontsize-boxes-title: 26px;

    --fontsize-about-p: 13px;
    --fontsize-button-about: 15px;
    --padding-about: 20px;
    --padding-width-button-about: 8px;
    --padding-height-button-about: 4px;
    --margin-top-button-about: 0px;

    --fontsize--mail: 15px;
    --margin-mail-text: 8px;
    --margin-top-mail-text: 8px;
  
    --width-container-buttons-mail: 140px;
    --height-container-buttons-mail: 38px;
    --size-button-mail: 30px;
    --size-img-button-mail: 27px;
    --fontsize-button-mail: 13px;
    --width-button-mail-onhover: 70px;

    --padding-project-info: 18px;
    --fontsize-project-info-title: 22px;
    --fontsize-project-info-p: 13px;
    --margin-top-bot-project-tools: 8px;
    --size-project-tools-img: 25px;

    --width-button-play: 115px;
    --width-button-play-onhover: 140px;
    --height-button-play: 28px;
    --borderwidth-button-play-onhover: 4px;
    --fontsize-button-play: 15px;
  }

  .button-about:hover img{
    width: 23px;
    margin-left: 9px;
  }
}

@media (max-width: 500px){
  :root{
    --fontsize-name-title: 48px;
    --fontsize-name-subtitle: 14px;
    --name-subtitle-width: 110px;
    --margin-name-title: 4px;
    --margin-name-subtitle: 4px;

    --fontsize-boxes-title: 22px;

    --fontsize-about-p: 12px;
    --fontsize-button-about: 14px;
    --padding-about:15px;
    --padding-width-button-about: 6px;
    --padding-height-button-about: 3px;
    --margin-top-button-about: 0px;

    --fontsize--mail: 14px;
    --margin-mail-text: 4px;
    --margin-top-mail-text: 8px;
  
    --width-container-buttons-mail: 120px;
    --height-container-buttons-mail: 38px;
    --size-button-mail: 26px;
    --size-img-button-mail: 25px;
    --fontsize-button-mail: 12px;
    --width-button-mail-onhover: 65px;

    --padding-project-info: 15px;
    --fontsize-project-info-title: 19px;
    --fontsize-project-info-p: 12px;
    --margin-top-bot-project-tools: 5px;
    --size-project-tools-img: 20px;

    --width-button-play: 100px;
    --width-button-play-onhover: 120px;
    --height-button-play: 25px;
    --borderwidth-button-play-onhover: 3px;
    --fontsize-button-play: 13px;
  }

  .about p{
    margin-top: 5px;
  }

  .button-about p{
    margin: 0px;
  }

  .button-about:hover img{
    width: 20px;
    margin-left: 8px;
  }
}

@media (max-width: 450px){
  :root{
    --fontsize-name-title: 44px;
    --fontsize-name-subtitle: 13px;
    --name-subtitle-width: 100px;
    --margin-name-title: 2px;
    --margin-name-subtitle: 2px;

    --fontsize-boxes-title: 22px;

    --fontsize-about-p: 12px;
    --fontsize-button-about: 15px;
    --padding-about:15px;
    --padding-width-button-about: 8px;
    --padding-height-button-about: 5px;
    --margin-top-button-about: 0px;

    --fontsize--mail: 12px;
    --margin-mail-text: 2px;
    --margin-top-mail-text: 8px;
  
    --width-container-buttons-mail: 110px;
    --height-container-buttons-mail: 35px;
    --size-button-mail: 22px;
    --size-img-button-mail: 20px;
    --fontsize-button-mail: 11px;
    --width-button-mail-onhover: 60px;

    --padding-project-info: 10px;
    --fontsize-project-info-title: 17px;
    --fontsize-project-info-p: 11px;
    --margin-top-bot-project-tools: 5px;
    --size-project-tools-img: 18px;

    --width-button-play: 100px;
    --width-button-play-onhover: 120px;
    --height-button-play: 23px;
    --borderwidth-button-play-onhover: 3px;
    --fontsize-button-play: 12px;
  }

  .about p{
    margin-top: 2px;
    margin-bottom: 15px;
  }

  .button-about p{
    margin: 0px;
  }

  .button-about img{
    width: 20px;
    margin-left: 7px;
  }

  .button-about:hover img{
    width: 20px;
    margin-left: 7px;
  }

}

@media (max-width: 420px){
  :root{
    --fontsize-name-title: 44px;
    --fontsize-name-subtitle: 13px;
    --name-subtitle-width: 100px;
    --margin-name-title: 2px;
    --margin-name-subtitle: 2px;

    --fontsize-boxes-title: 20px;

    --fontsize-about-p: 11px;
    --fontsize-button-about: 14px;
    --padding-about:15px;
    --padding-width-button-about: 8px;
    --padding-height-button-about: 5px;
    --margin-top-button-about: -5px;

    --fontsize--mail: 11px;
    --margin-mail-text: 2px;
    --margin-top-mail-text: 8px;
  
    --width-container-buttons-mail: 100px;
    --height-container-buttons-mail: 30px;
    --size-button-mail: 18px;
    --size-img-button-mail: 18px;
    --fontsize-button-mail: 11px;
    --width-button-mail-onhover: 60px;

    --padding-project-info: 10px;
    --fontsize-project-info-title: 17px;
    --fontsize-project-info-p: 10px;
    --margin-top-bot-project-tools: 5px;
    --size-project-tools-img: 18px;

    --width-button-play: 100px;
    --width-button-play-onhover: 120px;
    --height-button-play: 23px;
    --borderwidth-button-play-onhover: 3px;
    --fontsize-button-play: 12px;
  }

  .about p{
    margin-top: 4px;
    margin-bottom: 15px;
  }

  .button-about p{
    margin: 0px;
  }

  .button-about img{
    width: 18px;
    margin-left: 6px;
  }

  .button-about:hover img{
    width: 18px;
    margin-left: 6px;
  }

}

@media (max-width: 390px){
  :root{
    --fontsize-name-title: 35px;
    --fontsize-name-subtitle: 12px;
    --name-subtitle-width: 95px;
    --margin-name-title: 0px;
    --margin-name-subtitle: 0px;

    --fontsize-boxes-title: 18px;

    --fontsize-about-p: 10px;
    --fontsize-button-about: 12px;
    --padding-about:10px;
    --padding-width-button-about: 6px;
    --padding-height-button-about: 4px;
    --margin-top-button-about: -5px;

    --fontsize--mail: 10px;
    --margin-mail-text: 0px;
    --margin-top-mail-text: 8px;
  
    --width-container-buttons-mail: 90px;
    --height-container-buttons-mail: 30px;
    --size-button-mail: 15px;
    --size-img-button-mail: 16px;
    --fontsize-button-mail: 10px;
    --width-button-mail-onhover: 50px;

    --padding-project-info: 8px;
    --fontsize-project-info-title: 15px;
    --fontsize-project-info-p: 9px;
    --margin-top-bot-project-tools: 4px;
    --size-project-tools-img: 16px;

    --width-button-play: 80px;
    --width-button-play-onhover: 100px;
    --height-button-play: 20px;
    --borderwidth-button-play-onhover: 2px;
    --fontsize-button-play: 11px;
  }

  .about p{
    margin-top: 4px;
    margin-bottom: 15px;
  }

  .button-about p{
    margin: 0px;
  }

  .button-about img{
    width: 15px;
    margin-left: 5px;
  }
  .button-about:hover img{
    width: 15px;
    margin-left: 5px;
  }

}

@media (max-width: 350px){
  :root{
    --fontsize-name-title: 30px;
    --fontsize-name-subtitle: 10px;
    --name-subtitle-width: 80px;
    --margin-name-title: 0px;
    --margin-name-subtitle: 0px;

    --fontsize-boxes-title: 16px;

    --fontsize-about-p: 9px;
    --fontsize-button-about: 11px;
    --padding-about:8px;
    --padding-width-button-about: 5px;
    --padding-height-button-about: 2px;
    --margin-top-button-about: -5px;

    --fontsize--mail: 9px;
    --margin-mail-text: 0px;
    --margin-top-mail-text: 8px;
  
    --width-container-buttons-mail: 80px;
    --height-container-buttons-mail: 30px;
    --size-button-mail: 14px;
    --size-img-button-mail: 14px;
    --fontsize-button-mail: 9px;
    --width-button-mail-onhover: 45px;

    --padding-project-info: 8px;
    --fontsize-project-info-title: 13px;
    --fontsize-project-info-p: 8px;
    --margin-top-bot-project-tools: 2px;
    --size-project-tools-img: 15px;

    --width-button-play: 75px;
    --width-button-play-onhover: 95px;
    --height-button-play: 18px;
    --borderwidth-button-play-onhover: 2px;
    --fontsize-button-play: 10px;
  }

  .about p{
    margin-top: 4px;
    margin-bottom: 15px;
  }

  .button-about p{
    margin: 0px;
  }

  .button-about img{
    width: 13px;
    margin-left: 4px;
  }
  .button-about:hover img{
    width: 13px;
    margin-left: 4px;
  }
  
}

/* MAX 325px */


/*#endregion*/


/*#endregion*/



/*#region Clases fuentes*/

/*Clases para las fuentes del proyecto*/

.josefin-sans-semibold-italic {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
}

.josefin-sans-semibold {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.josefin-sans-regular {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}

.nunito-regular {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/*#endregion*/