
* {
    padding: 10;
    margin: 50;
    box-sizing: border-box;
}

  
  body{
    background-color: rgb(42, 42, 42);
    color: white;
    min-height: 100vh;
    font-family: 'josefin-sans';
    display: grid;
    place-content: center;
      
  }


  p {
    font-size: 3rem;
  }


  .grid-container{
    max-width: 900px;
    margin: 1rem;
    padding: 2rem;
    display: grid;
    grid-auto-columns: 1fr;
    gap: 1rem;
    grid-template-areas: 
      "box1 box2 box9 box9 box7 box7 box5"
      "box1 box6 box6 box6 box7 box7 box3"
      "box1 box6 box6 box6 box4 box4 box8"    
    ;
  }

  @media (max-width: 700px){
    .grid-container{
      grid-template-areas:
        "box1 box2"
        "box3 box3"
        "box3 box3"
        "box4 box5"
        "box6 box7"
        "box6 box8"
        "box6 box9"
      ;
    }
  }

  .grid-item{
    background-color: #444;
    padding: .5rem 1rem;
    text-align: center;
    place-content: center;
    display: flex;
    flex-direction: column;
    border-radius: .75rem;
    overflow: hidden;
    transition: all 200ms ease;
  }


  .grid-item:hover{
    cursor: pointer;
    background-color: #555;
    outline: 1px solid #fff;
  }

  .grid-item-1{
    grid-area: box1;
  }

  .grid-item-2{
    grid-area: box2;
  }

  .grid-item-3{
    grid-area: box3;
  }

  .grid-item-4{
    grid-area: box4;
  }

  .grid-item-5{
    grid-area: box5;
  }

  .grid-item-6{
    grid-area: box6;
  }

  .grid-item-7{
    grid-area: box7;
  }

  .grid-item-8{
    grid-area: box8;
  }

  .grid-item-9{
    grid-area: box9;
  }

  @font-face {
    font-family: "josefin-sans";
    src: url("https://lparres2000.github.io/SurvivalSpectrum/srcPaginaWeb/fonts/JosefinSans-Regular.ttf");
  }