
/*#region Etiquetas*/

body {
  background-color: #0B0A10;
  color: white;
  font-family: 'josefin-sans';
  display: grid;
  place-content: center;

}

p {
  font-size: 1rem;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

h1 {
  font-size: 5.3rem;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
  color: #F7F7F7;

  margin: 10px;
}

h2 {
  margin: 0px;
  padding: 0px;
  font-size: 2.3rem;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: #00C8FF;
}

h3 {
  font-size: 2.4rem;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: #F7F7F7;

  margin: 10px;
}

/*#endregion*/



/*#region Clases principales*/

.grid-container {
  max-width: 1200px;
  margin: 2rem;
  display: grid;
  grid-auto-columns: 1fr;
  grid-gap: 1rem;
  grid-template-areas:

    "about    about     about     about     photo   photo   es        en"
    "about    about     about     about     photo   photo   projects  projects"
    "github   github    name      name      name    name    projects  projects"
    "art      art       name      name      name    name    itchio    itchio"
    "art      art       mail      mail      game    game    game      game"
    "skills   skills    skills    skills    game    game    game      game"
    "idk      idk       idk       idk       game    game    game      game"
    "idk      idk       idk       idk       game    game    game      game"
  ;
}

.grid-item {
  background-color: #1C1E23;
  margin: 0;
  box-sizing: border-box;
  border-radius: 0.75rem;
  text-align: center;
  place-content: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: all 200ms ease;
}

.grid-item img {
  max-width: 100%;
  height: auto;
}


.grid-item:hover {
  cursor: pointer;
  background-color: #555;
  outline: 1px solid #fff;
}

/*#endregion*/



/*#region Clases Bento Boxes*/

.about {
  grid-area: about;
  aspect-ratio: 2 / 1;
  
  padding: 35px;
  text-align: left;
  place-content: left;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.photo {
  grid-area: photo;

  background-image: url("../src/img/foto_perfil.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.es {
  grid-area: es;
  aspect-ratio: 1 / 1;
}

.en {
  grid-area: en;
  aspect-ratio: 1 / 1;
}

.projects {
  grid-area: projects;
}

.github {
  grid-area: github;
  aspect-ratio: 2 / 1;
}

.github img {
  max-width: 35%;
  height: auto;
}

.name {
  grid-area: name;
}

.art {
  grid-area: art;
}

.itchio {
  grid-area: itchio;
  aspect-ratio: 2 / 1;

  background-color: #FA5C5C;
}

.itchio img {
  max-width: 35%;
  height: auto;
}

.mail {
  grid-area: mail;
  aspect-ratio: 2 / 1;
}

.game {
  grid-area: game;

}

.skills {
  grid-area: skills;
  aspect-ratio: 4 / 1;
}

.idk {
  grid-area: idk;
  aspect-ratio: 2 / 1;
}

/*#endregion*/



/*#region Sistema Responsive*/

@media (max-width: 1000px) {
  .grid-container {
    grid-template-areas:
      "name   name    name    photo   photo     es"
      "name   name    name    photo   photo     en"
      "about  about   about   about   mail      mail"
      "about  about   about   about   projects  projects"
      "art    art     itchio  github  projects  projects"
      "art    art     skills  skills  skills    skills"
      "game   game    game    game    game      game"
      "game   game    game    game    game      game"
      "game   game    game    game    game      game"
      "game   game    game    game    game      game"
      "idk    idk     idk     idk     idk       idk"
    ;
  }
}

@media (max-width: 800px) {
  .grid-container {
    grid-template-areas:
      "name   name    name    photo   photo     es"
      "name   name    name    photo   photo     en"
      "about  about   about   about   mail      mail"
      "about  about   about   about   projects  projects"
      "art    art     itchio  github  projects  projects"
      "art    art     skills  skills  skills    skills"
      "game   game    game    game    game      game"
      "game   game    game    game    game      game"
      "game   game    game    game    game      game"
      "game   game    game    game    game      game"
      "idk    idk     idk     idk     idk       idk"
    ;
  }
}

@media (max-width: 600px) {
  .grid-container {
    grid-template-areas:
      "name   name    name    photo   photo     es"
      "name   name    name    photo   photo     en"
      "about  about   about   about   mail      mail"
      "about  about   about   about   projects  projects"
      "art    art     itchio  github  projects  projects"
      "art    art     skills  skills  skills    skills"
      "game   game    game    game    game      game"
      "game   game    game    game    game      game"
      "game   game    game    game    game      game"
      "game   game    game    game    game      game"
      "idk    idk     idk     idk     idk       idk"
    ;
  }
}

@media (max-width: 450px) {
  .grid-container {
    grid-template-areas:
      "name   name    name    photo   photo     es"
      "name   name    name    photo   photo     en"
      "about  about   about   about   mail      mail"
      "about  about   about   about   projects  projects"
      "art    art     itchio  github  projects  projects"
      "art    art     skills  skills  skills    skills"
      "game   game    game    game    game      game"
      "game   game    game    game    game      game"
      "game   game    game    game    game      game"
      "game   game    game    game    game      game"
      "idk    idk     idk     idk     idk       idk"
    ;
  }
}

/*#endregion*/



/*#region Clases fuentes*/

/*Clases para las fuentes del proyecto*/

.josefin-sans-semibold-italic {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
}

.josefin-sans-semibold {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.josefin-sans-regular {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}

.nunito-regular {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/*#endregion*/